.Logo {
  height: 30vmin;
  width: 30vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #A1E595;
  color: rgb(102, 102, 102);
  font-size: 2.7vmin;
  border: .6vmin solid white; 
}